.workouts-board-list {
    font-size: 10px;
    line-height: 14px;
}

.workouts-board-list>.smooth-dnd-container {
    max-width: calc(100vw - 65px * 2);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    width: 100%;
    min-height: calc(100vh - 100px);
}

.workouts-board-list>.smooth-dnd-container>.column-wrapper {
    padding: 0 5px;
}

.workouts-board-list .column {
    height: 100%;
}

.workouts-board-list .column>.smooth-dnd-container {
    height: auto;
    min-height: 100px;
}

.workouts-board-list .column .column-header {
    cursor: pointer;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    color: #6A7988;
    padding-bottom: 9px;
    background-color: #fff;
}

.workouts-board-list .column.active .column-title {
    color: #5A57CB;
    font-weight: 700;
}

.workouts-board-list .column-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    padding: 3px 3px 5px;
}

.workouts-board-list .column-content {
    padding: 7px;
    height: calc(100% - 40px);
    background-color: #F3F5F8;
    border-radius: 6px;
}